[package]
name = "httplink"
version = "1.0.3"
edition = "2024"
license = "AGPL-3.0-or-later"

[profile.release]
lto = true
codegen-units = 1
panic = "abort"
strip = "symbols"
opt-level = "z"

[dependencies]
